*{
  padding: 0px;
  margin: 0px;
}
#images{
  background-color: purple;
}
#names{
  background-color: blue;
}
a {
  color: white;
  font-weight: bold;
}
.selected{
  border-style: solid;
  border-color: #000000;
}
.selected1{
  border-style: solid;
  border-color: red;
}
#scoreCounter{
  padding: 0 10px;
  color: blue;
  font-weight: bold;
}
#scoreCounterGuesses{
  padding: 0 10px;
  color: blue;
  font-weight: bold;
}

.score{
    font-size: 20px;
  display: flex;
}
